<template>
  <div>
   <div class="navbar" :class="scrollpx >= 50 ? 'navbar-scrolled' : ''">
    <div class="d-flex me-auto" v-if="user.length != 0">
     <avatar :username="'A' + ' ' + 'D'"></avatar>
     <div class="d-flex flex-column justify-content-center ms-3">
      <h6>Administrator</h6>
      <h6 class="fw-bold" v-if="user.length != 0"><small>{{user.email}}</small></h6>
     </div>
    </div>
    <small class="fw-bold text-success"><timeless-clock :blink="true" :displaySeconds="true" timezone="Asia/Manila" :time="currentTime()" class="text-dark me-auto fs-1" /> {{ currentDate() }}</small>
   </div>

   
  </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import TimelessClock from 'vuejs-timeless-clock'
// import VueDelayClock from "vue-delay-clock";
import Avatar from 'vue-avatar'
import moment from 'moment'
export default {
 components: {
   TimelessClock ,
    Avatar
  },
  data(){
    return {
      scrollpx: 0,
    }
  },
  async mounted(){
   await this.checkUser();
  },
  computed: {
   ...mapState('auth', ['user'])
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
   ...mapActions('auth', ['checkUser', 'logoutUser']),
   async logout(){
     const res = await this.logoutUser()
     if(res.status == 200){
       this.$router.push('/')
     }
   },
   currentDate() {
      const current = new Date();
      const date = `${current.getMonth()+1}/${current.getDate()}/${current.getFullYear()}`;
      return moment(date).format('dddd [-] MMMM D[,] YYYY');
    },
   currentTime() {
      return moment().format('h:mm:ss');
    },
   handleScroll() {
      this.scrollpx = window.scrollY;
   },
  }
 
}
</script>