<template>
  <div>
   <div class="sidenav">
    <img src="../../../assets/aclc1.png" class="mb-5 ms-4 ps-2" height="220px" width="180px" alt="" style="margin-top: -50px !important;">
     <router-link to="/home/dashboard" :class="getRoute == '/home' ? 'router-link-active' : ''"><i class="fas fa-chart-line"></i><span class="ps-2 sidenav-sr"> Dashboard</span></router-link>
     <router-link to="/home/students"><i class="fas fa-users"></i><span class="ps-2 sidenav-sr">Students</span></router-link>
     <router-link to="/home/students_registration"><i class="fas fa-pen"></i><span class="ps-2 sidenav-sr">ID Registration</span></router-link>
     <router-link to="/home/id_records"><i class="fas fa-address-card"></i><span class="ps-2 sidenav-sr">ID Management</span></router-link>
     <a href=""  v-on:click.prevent="$bvModal.show('logoutModal')"><i class="fas fa-sign-out-alt"></i><span class="ps-2 sidenav-sr">Logout</span></a>
    </div>

    <b-modal id="logoutModal" centered title="Logout">
    <p class="my-4">Are you sure you want to log-out?</p>
    <template #modal-footer = {cancel} >
      <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
      <b-button size="sm" variant="danger" v-on:click.prevent="logout" :disabled="loading">
      <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
        Logout
      </b-button>
    </template>
   </b-modal>
  </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
  data(){
    return {
      loading: false
    }
  },
 computed: {
  getRoute: function(){
    return this.$route.path
  }
 },
 methods: {
   ...mapActions('auth', ['checkUser', 'logoutUser']),
   async logout(){
     this.loading = true
     const res = await this.logoutUser()
     if(res.status == 200){
       this.loading = false
       this.$router.push('/login')
       this.$toast.success('Logged Out')
     }
   },
 }
}
</script>