<template>
<div class="row pe-0 me-0">
    <div class="col-lg-5 col-md-6 col-sm-12">
            <p class="fw-bold"><i class="fas fa-user-clock text-success"></i> Student(s) with no ID #</p>
            <small class="text-muted"><span class="text-danger">Note:</span> Verify information on the Students page.</small>
        <div class="card rounded-3 mt-3">
            <div class="card-cody px-3 pt-3">
                <div class="table-responsive">
                <b-skeleton-table
                    :rows="4"
                    :columns="2"
                    :table-props="{ bordered: false, striped: true }"
                    v-if="initialLoading"
                    ></b-skeleton-table>
                    <table class="table" v-if="!initialLoading">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Year Level & Course</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-if="students == 0" class="fw-bold text-danger">
                                <td colspan="2"><small>All registered student(s) has already ID #</small></td>
                            </tr>
                            <tr v-for="(student, i) in students" :key="i">
                                <td><small>{{ student.first_name }} {{ student.last_name }}</small></td>
                                <td><small>{{ student.year_level }}, {{ student.course }}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
            <p class="fw-bold"><i class="fas fa-user-check text-success"></i> Newly Generated ID #</p>
            <small class="text-muted">As of {{ new Date().toLocaleString() }}</small>
        <div class="card rounded-3 mt-3">
            <div class="card-cody px-3 pt-3">
                <div class="table-responsive">
                <b-skeleton-table
                    :rows="4"
                    :columns="3"
                    :table-props="{ bordered: false, striped: true }"
                    v-if="initialLoading"
                    ></b-skeleton-table>
                    <table class="table" v-if="!initialLoading">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">Year Level & Course</th>
                                <th scope="col">New Student #</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-if="students_with_id == 0" class="fw-bold text-danger">
                                <td colspan="3"><small>No Records Found</small></td>
                            </tr>
                            <tr v-for="(student_with_id, k) in students_with_id" :key="k">
                                <td><small>{{ student_with_id.first_name }} {{ student_with_id.last_name }}</small></td>
                                <td><small>{{ student_with_id.year_level }}, {{ student_with_id.course }}</small></td>
                                <td><small class="fw-bold text-success">{{ student_with_id.student_id }}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState } from 'vuex';
import moment from 'moment'
export default {
    data() {
        return {
            initialLoading: false
        }
    },
    filters: {
        moment: function (date) {
        return moment(date).format('MMMM D, YYYY, h:mm A');
        }
    },
    created() {
        document.title = "CS-ID - Dashboard";
    },
    computed: {
        ...mapState('admin', ['students', 'students_with_id']),
    },
    async mounted(){
        this.initialLoading = true
        await this.$store.dispatch('admin/getStudents');
        await this.$store.dispatch('admin/getStudentsWithId');
        this.initialLoading = false
    },
}
</script>