<template>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5 pt-5">
        <i class="fas fa-tools"></i>
        <h1 class="fw-bold">Oops</h1>
        <h3 class="fw-bold">Under Construction!</h3>
    </div>
</template>
<style lang="css" scoped>
    h1{
        margin-top: -170px;
        margin-left: 320px;
        opacity: 0.3;
        font-size: 100px;
    }
    h3{
        margin-left: 320px;
        opacity: 0.3;
        font-size: 50px;
    }
    .fa-tools{
        margin-top: 50px;
        margin-left: 140px;
        font-size: 150px !important;
        opacity: 0.3;
    }

</style>