<template>
  <div class="admin">
   <Sidenav />
   <Navbar />
   <div class="main-content">
     <router-view name="dashboard"/>
     <router-view name="students"/>
     <router-view name="students_registration"/>
     <router-view name="id_records"/>
     
   </div>
  </div>
</template>
<script>
import Sidenav from '@/components/navbar/admin/Sidebar.vue'
import Navbar from '@/components/navbar/admin/Navbar.vue'
export default {
  components: {Sidenav,Navbar}
}
</script>
