<template>
    <div>
        <div class="col-lg-10 col-md-10 col-sm-12 ms-5">
            <p class="fw-bold"><i class="fas fa-user-clock text-danger"></i> ID Number Registration</p>
            <small class="text-muted"><span class="text-danger">Note:</span> Make sure the information of the student are updated before generating ID #.</small>
            <div class="card rounded-3 mt-3">
                <div class="card-cody px-3 pt-3">
                    <div class="table-responsive">
                    <b-skeleton-table
                    :rows="5"
                    :columns="4"
                    :table-props="{ bordered: false, striped: true }"
                    v-if="initialLoading"
                    ></b-skeleton-table>
                        <table class="table" v-if="!initialLoading">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Year Level & Course</th>
                                    <th scope="col">Generate ID #</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr v-if="students == 0" class="fw-bold text-danger">
                                    <td colspan="4"><small>All registered student(s) has already ID #</small></td>
                                </tr>
                                <tr v-for="(student, i) in students" :key="i">
                                    <td><small>{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</small></td>
                                    <td><small>{{ student.email }}</small></td>
                                    <td><small>{{ student.year_level }}, {{ student.course }}</small></td>
                                    <td><button v-on:click.prevent="data = student; onModalClick()" class="btn btn-sm btn-success rounded-circle"><i class="fas fa-check"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <small class="text-muted">Legend:<span class="badge rounded-pill bg-success mx-2">Register ID #</span></small>
        </div>

        <b-modal id="registerIDModal" hide-footer hide-header centered title="Generated ID Number">
            <p class="text-center fs-3 fw-bold pt-3">{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</p>
            <p class="text-center fs-5 fw-light">{{ data.year_level }}, {{ data.course }}</p>
            <p class="text-center fs-5 fw-light pt-5">New Student ID Number:</p>
            <div class="form mb-3">
                <input v-model="data.student_id" type="text" class="form-control text-center text-success fs-1 fw-bold border-0" placeholder="">
            </div>
            <div class="d-flex justify-content-center pt-5">
            <small class="text-muted text-center"><span class="text-danger">Note:</span> Please verify the student's detail before you proceed. Click anywhere outside the box to quit.</small>
            </div>
            <div class="text-center py-3">
                <button v-on:click="updateStudentIdNumber" class="btn btn-success rounded-3" :disabled="loading">
                <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Confirm <i class="fas fa-check"></i></button>
            </div>
        </b-modal>
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    data() {
        return {
            data: '',
            initialLoading: false,
            loading: false,
            
        }
    },
    created() {
        document.title = "CS-ID - ID Registration";
    },
    computed: {
        ...mapState('admin', ['students']),
    },
    async mounted(){
        this.initialLoading = true
        await this.$store.dispatch('admin/getStudents')
        this.initialLoading = false
    },
    methods : {
    async onModalClick(){
        this.initialLoading = false
        let val = Math.floor(Math.random() * 90000000).toString() 
        this.data.student_id = val
        this.$bvModal.show('registerIDModal')
    },
    async updateStudentIdNumber(){
      this.initialLoading = true
      this.loading = true
      const res = await this.$store.dispatch('admin/updateStudentId', this.data)
      console.log(res)
      if(res.status == 200 ){
        this.$bvModal.hide('registerIDModal')
        this.initialLoading = false
        this.loading = false
        this.$toast.success( 'Student ID #'+this.data.student_id+' generated successfully!')
        this.$router.push('/home/students')
      }
      else{
          this.$toast.error('Something went wrong!')
          this.initialLoading = false
          this.loading = false
      }
    },
  },
}
</script>