<template>
    <div>
        <div class="col-lg-10 col-md-12 col-sm-12 ms-lg-5 ms-md-4 px-2">
            <div class="d-flex justify-content-start mb-3">
                <button class="btn btn-sm btn-success fw-bold px-3 rounded-pill"  v-on:click.prevent="$bvModal.show('add_student_modal')"><i class="fas fa-user-plus me-2"></i>Register Student</button>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-cody p-3">
                    <div class="table-responsive">
                    <b-skeleton-table
                    :rows="5"
                    :columns="4"
                    :table-props="{ bordered: false, striped: true }"
                    v-if="initialLoading"
                    ></b-skeleton-table>
                        <table class="table" v-if="!initialLoading">
                            <thead class="text-center">
                                <tr>
                                <th scope="col">Student ID</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Year Level & Course</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr v-if="all_students == 0" class="fw-bold text-danger">
                                    <td colspan="4"><small>No Records Found</small></td>
                                </tr>
                                <tr v-for="(all_student, i) in all_students" :key="i">
                                    <td><small class="fw-bold">{{ all_student.student_id }}</small></td>
                                    <td><small>{{ all_student.first_name }} {{ all_student.last_name }}</small></td>
                                    <td><small>{{ all_student.year_level }}, {{ all_student.course }}</small></td>
                                    <td>
                                        <button v-on:click.prevent="student = all_student; $bvModal.show('view_modal')" class="btn btn-sm btn-secondary me-2 rounded-3"><i class="fas fa-eye text-white"></i></button>
                                        <button class="btn btn-sm btn-danger rounded-3" v-on:click.prevent="deleteStudent = all_student.id; $bvModal.show('delete_modal')"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <small class="text-muted">Legend:<span class="badge rounded-pill bg-secondary mx-2">View/Edit</span><span class="badge rounded-pill bg-danger">Delete</span></small>
        </div>
        
        <!-- VIEW STUDENT RECORD MODAL -->
        <b-modal id="view_modal" hide-header size="lg">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <small class="text-muted">Student Number</small>
                        <p class="fw-bold">{{ student.student_id }}</p>
                        <img class="py-3 ps-3" src="../../assets/logo.png" height="200px" width="200px">
                       <!-- <img class="py-3 ps-3"  v-if="url" :src="url" height="200px" width="200px">
                        <img class="py-3 ps-3" v-else src="../../assets/logo.png" height="200px" width="200px"> -->
                        <div class="form-floating mb-3">
                            <input v-model="student.year_level" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                            <label >Year Level</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="student.course" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                            <label >Course</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="student.semester" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                            <label >Semester</label>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="text-center my-3 text-muted">Student Details</p>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="student.first_name" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >First Name</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="student.middle_name" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Middle Name</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="student.last_name" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.gender" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Gender</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.birthday" :disabled="!isChecked" type="date" class="form-control" placeholder="">
                                    <label >Birthday</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="student.address" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                            <label >Address</label>
                        </div>
                        <div class="row g-1 mb-2">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.email" :disabled="!isChecked" type="email" class="form-control" placeholder="">
                                    <label >Email</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.contact" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Contact</label>
                                </div>
                            </div>
                        </div>
                        <p class="text-center mb-3 text-muted">Emergency Contact</p>
                        <div class="row g-1">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.emergency_number" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Contact</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="student.emergency_contact_person" :disabled="!isChecked" type="text" class="form-control" placeholder="">
                                    <label >Contact Person</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <input type="file" v-on:change="onFileChange" class="form-control mb-2"/> -->
            </div>
            <template #modal-footer = {cancel} >
                <div class="form-check form-switch me-auto">
                        <input class="form-check-input" v-model="isChecked" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Edit Enable</label>
                    </div>
                <b-button variant="primary" @click="cancel()"> Close </b-button>
                <b-button variant="success" :disabled="!isChecked || loading" v-on:click.prevent="updateStudent">
                <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                    Update
                </b-button>
            </template>
        </b-modal>
        
        <!-- ADD STUDENT MODAL -->
        <b-modal id="add_student_modal" hide-header size="lg">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pt-4">
                        <div class="form-group mt-4">
                            <small class="text-muted">Select Year Level</small>
                            <select v-model="add_student.year_level" class="form-select" aria-label="Default select example">
                                <option value="1st Year">1st Year</option>
                                <option value="2nd Year">2nd Year</option>
                                <option value="3rd Year">3rd Year</option>
                                <option value="4th Year">4th Year</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <small class="text-muted">Select Course</small>
                            <select v-model="add_student.course" class="form-select" aria-label="Default select example">
                                <option value="BSIT">BSIT</option>
                                <option value="BSCS">BSCS</option>
                                <option value="BSHM">BSHM</option>
                                <option value="BSTM">BSTM</option>
                            </select>
                        </div>
                        <div class="form-group mb-5">
                            <small class="text-muted">Semester</small>
                            <select v-model="add_student.semester" class="form-select" aria-label="Default select example">
                                <option value="First Semester">First Semester</option>
                                <option value="Second Semester">Second Semester</option>
                            </select>
                        </div>
                        <p class="text-center text-muted pt-1 pb-2">Login Details</p>
                        <div class="form-floating mb-3">
                            <input v-model="add_student.email" type="email" class="form-control" placeholder="">
                            <label >Email</label>
                        </div>
                        <div class="form-floating">
                            <input v-model="add_student.password" type="password" class="form-control" placeholder="">
                            <label >Password</label>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="text-center my-3 text-muted">Student Details</p>
                        <div class="row g-1">
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.first_name" type="text" class="form-control" placeholder="">
                                    <label >First Name</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.middle_name" type="text" class="form-control" placeholder="">
                                    <label >Middle Name</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.last_name" type="text" class="form-control" placeholder="">
                                    <label >Last Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.gender" type="text" class="form-control" placeholder="">
                                    <label >Gender</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.birthday" type="date" class="form-control" placeholder="">
                                    <label >Birthday</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="add_student.address" type="text" class="form-control" placeholder="">
                            <label >Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input v-model="add_student.contact" type="text" class="form-control" placeholder="">
                            <label >Contact</label>
                        </div>
                        <p class="text-center mb-3 text-muted">Emergency Contact</p>
                        <div class="row g-1">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.emergency_number" type="text" class="form-control" placeholder="">
                                    <label >Contact</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.emergency_contact_person" type="text" class="form-control" placeholder="">
                                    <label >Contact Person</label>
                                </div>
                            </div>
                            <input v-model="add_student.status" type="text" hidden>
                        </div>
                    </div>
                </div>
            </div>
            <template #modal-footer = {cancel} >
                <div class="me-auto">
                    <small class="text-muted">
                        <span class="text-danger">Note: </span>
                        All fields are required. Check all information before registering.
                    </small>
                </div>
                <b-button variant="primary" @click="cancel()"> Close </b-button>
                <b-button variant="success" v-on:click.prevent="addStudent" :disabled="loading">
                <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                    Register
                </b-button>
            </template>
        </b-modal>
        
        <!-- DELETE RECORD MODAL -->
        <b-modal id="delete_modal" centered title="Confirm Delete">
        <p class="">Are you sure to delete this record?</p>
        <template #modal-footer = {cancel} >
        <b-button variant="primary" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" v-on:click.prevent="deleteRecord" :disabled="loading">
        <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
            <span class="sr-only">Loading...</span>
        </div>
            Delete
        </b-button>
        </template>
    </b-modal>
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    data() {
        return {
            initialLoading: false,
            isChecked: false,
            loading: false,
            url: '',
            student: {
                email: '',
                student_id: '',
                first_name: '',
                middle_name: '',
                last_name: '',
                gender: '',
                birthday: '',
                address: '',
                contact: '',
                emergency_number: '',
                emergency_contact_person: '',
                year_level: '',
                course: '',
                semester: '',
                student_photo: '',
            },
            add_student: {
                email: '',
                password: '',
                student_id: '',
                first_name: '',
                middle_name: '',
                last_name: '',
                gender: '',
                birthday: '',
                address: '',
                contact: '',
                emergency_number: '',
                emergency_contact_person: '',
                year_level: '',
                course: '',
                semester: '',
                status: 'Pending'
            },
            deleteStudent: ''
        }
    },
    created() {
        document.title = "CS-ID - Students";
    },
    computed: {
        ...mapState('admin', ['all_students']),
    },
    async mounted(){
        this.initialLoading = true
        await this.$store.dispatch('admin/getAllStudents');
        this.initialLoading = false
    },
    methods: {
    async updateStudent(){
        this.initialLoading = true
        this.loading = true
      const res = await this.$store.dispatch('admin/updateStudent', this.student)
      if(res.status == 200 ){
        this.$bvModal.hide('view_modal')
        this.initialLoading = false
        this.loading = false
        this.$toast.success( 'Student, '+ this.student.first_name+' '+ this.student.last_name +' updated successfully!')
        this.isChecked = false
      }
      else{
          this.$toast.error('Something went wrong!')
          this.$bvModal.hide('view_modal')
          this.initialLoading = false
          this.loading = false
          this.isChecked = false
      }
    },
    async deleteRecord(){
        this.initialLoading = true
        this.loading = true
        const res = await this.$store.dispatch('admin/deleteStudentRecord', this.deleteStudent)
        if(res.status == 200){
            this.$bvModal.hide('delete_modal')
            this.initialLoading = false
            this.loading = false 
            this.$toast.success( 'Record deleted successfully!')
        } else {
            this.$toast.error('Something went wrong!')
            this.initialLoading = false
            this.loading = false 
        }
    },
    async addStudent(){
        this.initialLoading = true
        this.loading = true
        const res = await this.$store.dispatch('admin/registerStudent', this.add_student)
        if(res.status == 200){
            this.$bvModal.hide('add_student_modal')
            this.initialLoading = false
            this.$toast.success('Student added successfully!')
            this.loading = false
            this.add_student = {
                email: '',
                password: '',
                student_id: '',
                first_name: '',
                middle_name: '',
                last_name: '',
                gender: '',
                birthday: '',
                address: '',
                contact: '',
                emergency_number: '',
                emergency_contact_person: '',
                year_level: '',
                course: '',
                semester: ''
            }
            this.$router.push('/home/students_registration')
        } else {
            this.$bvModal.hide('add_student_modal')
            this.initialLoading = false
            this.loading = false
            this.$toast.error('Something went wrong!')
        }
    }
}
}
</script>