<template>
    <div class="container-fluid g-0 vh-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="card m-5">
                <div class="card-body p-5">
                    <div class="d-flex justify-content-center mb-5 me-4">
                        <img src="../../assets/aclc.png" height="80px" width="220px" alt=""> 
                    </div>
                    <form>
                      <div class="form-floating mb-3">
                          <input v-model="data.email" type="email" class="form-control" id="email" placeholder="" required>
                          <label for="email">Email address</label>
                      </div>
                      <div class="form-floating">
                          <input v-model="data.password"   type="password" class="form-control" id="password" placeholder="" required>
                          <label for="password">Password</label>
                      </div>
                      <div class="form-check form-switch mt-3">
                          <input class="form-check-input" v-model="isAdmin" type="checkbox" id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault">Admin Account</label>
                      </div>
                      <div class="d-flex justify-content-center">
                          <button class="btn btn-primary rounded-3 px-5 mt-5 mb-2" type="submit" v-on:click.prevent="signin" :disabled="loading">
                          <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          LOGIN <i class="fas fa-arrow-circle-right"></i>
                          </button>
                      </div>
                    </form>
                    <div class="text-center mt-1">
                        <p>For ID registration <router-link to="/">click here</router-link>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
    data(){
    return {
      isAdmin: false,
      loading:false,
      data: {
        email: '',
        password: '',
      },
    }
  },
  async mounted(){
    document.title = "CS-ID System Login"
  },
  computed: {
   ...mapState('auth', ['user','useraccount'])
  },
    methods: {
    ...mapActions('auth', ['loginAccount', 'loginAccountUser']),
    async signin(){ 
      this.loading = true
      if(this.isAdmin){
        const res = await this.loginAccount(this.data)
          if(this.data.email == ''){
            this.$toast.error('Email is required')
            this.loading = false
          }
          else if(this.data.password == ''){
            this.$toast.error('Password is required')
            this.loading = false
          }
          else if(res.status == 200){
            this.$router.push('/home/dashboard')
            this.$toast.success('Welcome, Administrator!')
            this.loading = false
          }
          else{
            this.$toast.error('Your login credentials is invalid')
            this.loading = false
          }
      }
      else {
        const res = await this.loginAccountUser(this.data)
        if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$router.push('/home')
          this.$toast.success('Hi user, '+ this.data.email +'!')
          this.loading = false
        }
        else {
          this.$toast.error('Your login credentials is invalid')
          this.loading = false
        }
      }

    },
    validEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
    }
}
</script>
<style scoped>
    .container-fluid{
       background-image: linear-gradient(to right, #0f0c29, #131433, #19193e, #1f1e49, #262454, #282656, #2a2858, #2c2a5a, #2a2953, #28274c, #262645, #24243e) !important;
    }

    .card{
        background: rgba( 255, 255, 255, 0.45 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
        backdrop-filter: blur( 4px ) !important;
        -webkit-backdrop-filter: blur( 4px ) !important;
        border-radius: 10px !important;
        border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
    }

    a{
        text-decoration: none !important;
    }
</style>