<template>
<div id="register">
    <div class="container-fluid g-0 vh-100 d-flex align-items-center justify-content-center p-lg-5 p-md-5 p-2">
        <div class="col-lg-6 col-md-7 col-sm-12">
            <div class="card">
                <div class="card-body p-lg-4 p-md-4 p-3">
                    <div class="d-flex justify-content-center me-2">
                        <img src="../../assets/aclc.png" height="80px" width="210px" alt=""> 
                    </div>
                    <h4 class="text-center text-light fw-bold">Web based ID Registration</h4>
                    <div v-if="step === 1">
                        <div class="d-flex justify-content-center pt-4">
                            <small class="text-light fw-bold">Step 1 - Student information</small>
                        </div>
                        <div class="d-flex justify-content-center pb-1">
                            <small class="text-light fw-light">Please fill out all fields for your Identification Card</small>
                        </div>
                        <div class="row">
                            <div class="col-6 mx-auto">
                                <div class="form-floating my-3">
                                    <input v-model="add_student.first_name" type="text" class="form-control" id="firstname" placeholder="." autocomplete="off">
                                    <label for="firstname">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.middle_name" type="text" class="form-control" id="middlename" placeholder="." autocomplete="off">
                                    <label for="middlename">Middle Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.last_name" type="text" class="form-control" id="lastname" placeholder="." autocomplete="off">
                                    <label for="middlename">Last Name</label>
                                </div>
                            </div>
                            <div class="col-6 mx-auto">
                                <div class="form-floating my-3">
                                    <select v-model="add_student.gender" class="form-select mb-3" id="gender">
                                        <option selected value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <label for="gender">Gender</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.birthday" type="date" class="form-control" id="birthday" placeholder="." autocomplete="off">
                                    <label for="birthday">Birhday</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.contact" type="text" class="form-control" id="contactnumber" placeholder="." autocomplete="off">
                                    <label for="contactnumber">Contact Number</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input v-model="add_student.address" type="text" class="form-control" id="address" placeholder="." autocomplete="off">
                                    <label for="address">Address</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="step === 2">
                        <div class="d-flex justify-content-center pt-4">
                            <small class="text-light fw-bold">Step 2 - Emergency Contact</small>
                        </div>
                        <div class="d-flex justify-content-center pb-2">
                            <small class="text-light fw-light">Please fill out all fields for your Identification Card</small>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-12 mx-auto">
                                <div class="d-flex justify-content-center pt-3">
                                    <small class="text-light fw-light">In case of emergency</small>
                                </div>
                                <div class="form-floating my-3">
                                    <input v-model="add_student.emergency_contact_person" type="text" class="form-control" id="emergencyperson" placeholder="." autocomplete="off">
                                    <label for="emergencyperson">Contact Person</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input v-model="add_student.emergency_number" type="text" class="form-control" id="emergencycontact" placeholder="." autocomplete="off">
                                    <label for="emergencycontact">Contact Number</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="step === 3">
                        <div class="d-flex justify-content-center pt-4">
                            <small class="text-light fw-bold">Step 3 - Course & Level</small>
                        </div>
                        <div class="d-flex justify-content-center pb-2">
                            <small class="text-light fw-light">Please fill out all fields for your Identification Card</small>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-9 col-12 mx-auto">
                                <div class="form-floating my-3">
                                    <select v-model="add_student.course" class="form-select mb-3" id="course">
                                        <option selected value="BSIT">BSIT</option>
                                        <option value="BSCS">BSCS</option>
                                        <option value="BSHM">BSHM</option>
                                        <option value="BSTM">BSTM</option>
                                    </select>
                                    <label for="course">Course</label>
                                </div>
                                <div class="form-floating my-3">
                                    <select v-model="add_student.year_level" class="form-select mb-3" id="yearlevel">
                                        <option selected value="1st Year">1st Year</option>
                                        <option value="2nd Year">2nd Year</option>
                                        <option value="3rd Year">3rd Year</option>
                                        <option value="4th Year">4th Year</option>
                                    </select>
                                    <label for="yearlevel">Year Level</label>
                                </div>
                                <div class="form-floating my-3">
                                    <select v-model="add_student.semester" class="form-select mb-3" id="semester">
                                        <option selected value="First Semester">First Semester</option>
                                        <option value="Second Semester">Second Semester</option>
                                    </select>
                                    <label for="semester">Semester</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="step === 4">
                        <div class="d-flex justify-content-center pt-4">
                            <small class="text-light fw-bold">Step 4 - Login Credentials</small>
                        </div>
                        <div class="d-flex justify-content-center pb-4">
                            <small class="text-light fw-light">Please fill out all fields for your Identification Card</small>
                        </div>
                        <div class="d-flex justify-content-center pb-2">
                            <small class="text-light fw-light">You can use this account to manage/update your information.</small>
                        </div>
                        <div class="col-lg-8 col-md-9 col-12 mx-auto">
                            <div class="form-floating my-3">
                                <input v-model="add_student.email" type="email" class="form-control" id="email" placeholder="." autocomplete="off">
                                <label for="email">Email Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input v-model="add_student.password" type="password" class="form-control" id="password" placeholder="." autocomplete="off">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <input v-model="add_student.status" type="text" hidden>
                </div>
                <div class="card-footer">
                <div class="row px-lg-3 px-md-3 px-0">
                    <div class="col-4 auto">
                       <router-link to="/login" class="text-light text-decoration-none">Login Here</router-link> 
                    </div>
                    <div class="col-8 auto">
                        <div class="d-flex justify-content-end">
                            <button v-if="step != 1" class="btn btn-sm btn-primary me-2 px-1 rounded-3 fw-light" @click="prev">Previous</button>
                            <button v-if="step != 4" class="btn btn-sm btn-success px-3 rounded-3 fw-light" @click="next">Next</button>
                            <button v-if="step === 4" :disabled="loading" class="btn btn-sm btn-success px-3 rounded-3 fw-light" v-on:click.prevent="register">
                            <div v-if="loading" class="spinner-border spinner-border-sm me-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Register </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            step: 1,
            loading:false,
            add_student: {
                email: '',
                password: '',
                first_name: '',
                middle_name: '',
                last_name: '',
                gender: '',
                birthday: '',
                address: '',
                contact: '',
                emergency_number: '',
                emergency_contact_person: '',
                year_level: '',
                course: '',
                semester: '',
                status: 'Pending'
            },
        }
    },
    async mounted(){
    document.title = "CS-ID System Registration"
  },
  methods: {
        async register(){
        this.loading = true
        this.initialLoading = true
        const res = await this.$store.dispatch('auth/createAccount', this.add_student)
        if(this.add_student.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.add_student.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(this.add_student.first_name == ''){
          this.$toast.error('First name is required')
          this.loading = false
        }
        else if(this.add_student.middle_name == ''){
          this.$toast.error('Middle name is required')
          this.loading = false
        }
        else if(this.add_student.last_name == ''){
          this.$toast.error('Last is required')
          this.loading = false
        }
        else if(this.add_student.gender == ''){
          this.$toast.error('Gender is required')
          this.loading = false
        }
        else if(this.add_student.contact == ''){
          this.$toast.error('Contact is required')
          this.loading = false
        }
        else if(this.add_student.birthday == ''){
          this.$toast.error('Birthday is required')
          this.loading = false
        }
        else if(this.add_student.year_level == ''){
          this.$toast.error('Year Level is required')
          this.loading = false
        }
        else if(this.add_student.course == ''){
          this.$toast.error('Course is required')
          this.loading = false
        }
        else if(this.add_student.semester == ''){
          this.$toast.error('Semester is required')
          this.loading = false
        }
        else if(this.add_student.emergency_number == ''){
          this.$toast.error('Emergency contact is required')
          this.loading = false
        }
        else if(this.add_student.emergency_contact_person == ''){
          this.$toast.error('Emergency contact person is required')
          this.loading = false
        }
        else if(this.add_student.address == ''){
          this.$toast.error('Address is required')
          this.loading = false
        }
        else if(res.status == 200){
            this.loading = false
            this.initialLoading = false
            this.$toast.success('You are now registered! Check your email.')
            this.add_student = {
                email: '',
                password: '',
                student_id: '',
                first_name: '',
                middle_name: '',
                last_name: '',
                gender: '',
                birthday: '',
                address: '',
                contact: '',
                emergency_number: '',
                emergency_contact_person: '',
                year_level: '',
                course: '',
                semester: ''
            }
            this.$router.push('/login')
        } else {
            this.$toast.error('Something went wrong!')
            this.loading = false
        }
    },
        prev() {
        this.step--;
        },
        next() {
        this.step++;
        }
    }
}
</script>
<style scoped>
    #register{
       background-image: linear-gradient(to right, #0f0c29, #131433, #19193e, #1f1e49, #262454, #282656, #2a2858, #2c2a5a, #2a2953, #28274c, #262645, #24243e) !important;
    }

    .card{
        height: 580px !important;
        max-height: 580px !important;
        background: rgba( 255, 255, 255, 0.45 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
        backdrop-filter: blur( 4px ) !important;
        -webkit-backdrop-filter: blur( 4px ) !important;
        border-radius: 10px !important;
        border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
    }

    a{
        text-decoration: none !important;
    }
    
</style>