@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,800;0,900;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

html {
 background-color: #f9f8ff;
}

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 0 !important;
}

.admin {
 background-color: #f9f8ff;
 width: 100%;    
 height: 100%;
}

.content-end {
 display: flex;
 flex-direction: column;
 height: 100%;
 justify-content: flex-end;
 padding: 0px 3.5rem;
 padding-bottom: 5rem;
 color: white;
}

.main-content {
 margin-left: 310px;
 margin-top: 150px;
}

/** SIDE NAVIGATION BAR */
.sidenav {
  background: #673ab7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  z-index: 3;
  transition: all 250ms ease-in-out;
  border-right: solid 1px;
  border-color: #36363663;
  -webkit-box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.62); 
  box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.62);
}

.sidenav a{
 font-size: 1rem;
 font-weight: 400;
 color: white;
 text-decoration: none;
 padding: 10px 16px;
 margin-top: 5px;
 transition: all 0.5s;
}

.sidenav a:hover {
 background: #3e04a3;
 color: white;
}

.admin .router-link-active {
 background: #3e04a3;
 color: white;
 margin-right: 0.9rem;
 padding-left: 40px;
 border-bottom-right-radius: 20px;
 border-top-right-radius: 20px;
 position: relative;
}

.admin .router-link-active::before  {
 content: '';
 position: absolute;
 top: 50%;
 right: 5%;
 transform: translateY(-50%);
 background: #00fa00;
 height: 8px;
 width: 8px;
 border-radius: 50%;
}

.close {
  outline: none !important;
  border: 0px !important;
  background: white !important;
  font-size: 1.2rem !important;
 }

/** NAVIGATION */
.navbar {
 position: absolute !important;
 top: 0;
 right: 0;
 width: calc(100% - 260px);
 height: 120px;
 padding: 25px 4rem;
 justify-content: space-evenly !important;
 padding-top: 25px !important;
 padding-bottom: 25px !important;
 transition: all 250ms;
 z-index: 10;
}

.navbar-scrolled {
  position: fixed !important;
  height: 80px;
  background: white;
  padding: 0px 2rem !important;
  box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.295);
  z-index: 4 !important;
  top: 0;
  right: 0;
 transition: all 250ms;

}

.admin .card{
  height: 350px !important;
  max-height: 350px !important;
  background: white !important;
  overflow-y: auto;
  overflow-x: auto;
}

/** DATE AND TIME CARD **/
.date {
  font-size: 1.5rem;
}

.time {
  font-size: 1.2rem;
}

/** VALIDATION */
.invalid-feedback {
 margin-top: 0 !important; 
}

/** STEPPER */
.step-progress__step:after {
 height: 30px !important;
 width: 30px !important;
}

.step-progress__step span {
 font-size: 1rem !important;
}

.step-progress__step-label {
 top: 2.2rem !important;
 font-weight: 400 !important;
 font-size: 1rem !important; 
}

.step-progress__bar {
 margin-bottom: 2rem !important;
}

.step-progress__step-icon {
 font-size: 25px !important;
}

.stepper-container {
 width: 80%;
}

/* PAGINATION */
span.sr-only{
  display: none !important;
}

.page-item.active .page-link {
  background-color: #605BFF !important;
  border-color: #6460e2 !important;
}

/** COMPONENT */
.btn-reg {
 text-decoration: none;
}

.btn-logout {
 background: transparent;
 padding: 4px 15px !important;
}

.btn-logout:hover{
 background: #605BFF;
 border-radius: 50px;
 color: white !important;
}

.btn-logout:hover a {
 color: white !important;

}


/** Card Time BG */
/* .bg-morning {
  background-image: linear-gradient(to left, #615bff44, rgba(0, 0, 0, 0.158)), url('../images/morning.webp');
  background-position: center;
  background-size: cover;
  font-weight: 700;
}

.bg-afternoon {
  background-image: linear-gradient(to left, #615bff1f, rgba(0, 0, 0, 0.089)), url('../images/afternoon.webp');
  background-position: center;
  background-size: cover;
}

.bg-evening {
  background-image: linear-gradient(to left, #615bff3a, rgba(0, 0, 0, 0.185)), url('../images/evening.jpeg');
  background-attachment: center;
  background-position: top;
  background-size: cover;
} */

/** COLORS */

.btn-purple {
 background-color: #605BFF !important;
 color: white !important ;
}

.btn-purple:hover{
 background-color: #6460e2 !important;
}

.c-primary {
 color: #605BFF !important;
 cursor: pointer;
}

.card-gradient {
  background-image: linear-gradient(to top, #605BFF, #6959CB);
}

.sys-primary {
  background-color: #605BFF !important;
}

.text-white-1 {
  color: rgb(243, 243, 243);
}

.text-violet {
  color: #605BFF !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  z-index: 1;
}

/** UTILITY HELPER */

.vh-100 {
 height: 100vh;
}

.lh-r {
 line-height: 1.2rem;
}    

.lh-l {
 line-height: 1.7rem;
}    

.fw-700 {
 font-weight: 700;
}

.fw-600 {
 font-weight: 600;
}

.bi-2x {
 font-size: 1.25rem;
}

.bi-3x {
 font-size: 1.4rem;
}

.bi-5x {
 font-size: 2.5rem;
}

.lh-1{
 line-height: 1.2rem;
}

.br-20 {
 border-radius: 15px !important;
}

/**  SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(219, 219, 219); 
  border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: #2f2f36; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f36; 
}

@media only screen and (max-width: 1050px){

  html {
    font-size: .9rem;
  }
  .sidenav {
    width: 200px;
  }

  .main-content {
    margin-left: 210px;
  }

  .navbar {
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 800px){

  html {
    font-size: .9rem;
  }

  .sidenav {
    width: 110px;
  }

  .sidenav a{
    text-align: center;
  }

  .sidenav-sr {
    display: none;
  }

  .sidenav a i.bi {
    font-size: 1.5rem !important;
  }

  .sidenav h6 {
    font-size: .85rem !important;
  }

  .sidenav h6.ms-2 {
    margin-left: 0px !important;
  }

  .sidenav-bi {
    display: block;
    opacity: 1 !important;
    color: white;
  }

  .main-content {
    margin-left: 115px;
  }

  .navbar {
    width: calc(100% - 110px);
  }

}

/* 
@media only screen and (max-width: 624px){
  .navbar {
    width: 100%;
  }

  .sidenav {
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    padding: 0rem .9rem;
    display: flex;
    justify-content: center;
  }

  .sidenav a{

  }

  .sidenav-sr {
    display: inline-block;
  }

  .sidenav a i.bi {
    font-size: 1.6rem !important;
  }

  .sidenav h6 {
    text-align: center;
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  .sidenav h6.ms-2 {
    margin-left: 0px !important;
  }

  .main-content {
    margin-left: 0px;
  }

  #menu {
    display: block;
    position: absolute;
  }


} */

@media (prefers-color-scheme: dark) {

  html {
    background-color: rgb(27, 27, 27) !important;
    color: #fff;
  }

  .admin {
    background-color: rgb(27,27,27);
    color: white;
  }

  .navbar-scrolled {
    background-color: rgb(27,27,27);
    box-shadow: 0px 0px 10px rgba(82, 82, 82, 0.534);
    color: white;
  }

  .card {
    background-color: rgb(30, 30, 30) !important;
    border: 1.1px solid rgb(44, 44, 44) !important;
    color: white !important;
  }

  #carousel blockquote {
    background-color: rgb(30, 30, 30) !important;
    border: 1.1px solid rgb(44, 44, 44) !important;
  }

  .modal-content {
    background-color: rgb(30, 30, 30) !important;
  }

  .close {
    background-color: transparent !important;
    color: white !important;
  }

  .page-item.disabled .page-link {
    background-color: rgb(30, 30, 30) !important;
    border: 1px solid rgb(37, 37, 37) !important;
  }

  .page-link {
    background-color: rgb(30, 30, 30) !important;
    border: 1px solid rgb(37, 37, 37) !important;
  }

  .sidenav {
    background-image: linear-gradient(to bottom, #605BFF, #6959CB);
  }
  
  .table {
    color: white !important; 
  }

  .table-hover > tbody > tr:hover {
    color: white !important;
    background-color: #1b1b1b !important;
  }

  .form-floating > label {
    color: white !important;
  }
  p, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
   
}